.board{
  margin: 50px;
}

button{
  width: 100px;
  height: 100px;
  border: 2px outset;
  border-radius: 50%;
}

.set_button{
  border-style: inset;
}

.select_names input{
  margin: 5px;
  border-radius: 2%;
}

#submit_names, #btn_reset{
  text-align: center;
  width: 200px;
  margin: 3px;
}

#player_1_name{
  text-align: center;
  color: white;
}

#player_2_name{
  text-align: center;
  color: white;
}

#game_controls{
  height: 50px;
}